$background: #3498db;
$color_white: #f5f5ef;
$color_camel: #b69d74;
$color_red: #d62828;
$color_black: #1f2839;
$color_black_washed: #505256;

$color_pine: #297373;
$color_selected: #58a4b0;

// Rozmiar
$size_button: 1.4rem;

$big_font_size: 1.8rem;
$main_font_size: 1.4rem;
$secondary_font_size: 1rem;

$border_radius_button: 0.3rem;
